@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}
.show-menu{
    transition: all 250ms ease-in-out;
    transform: translateY(40px);
}
.close-menu{
    transition: all 250ms ease-in-out;
    opacity: 0;
}